.header-section{
  text-align: center;
  padding: 25px 0;
  border-bottom: 1px solid lightgray;
}
.header-section h2{
  text-transform: uppercase;
  font-size: 3.5rem;
  margin: 10px 0;
}
.header-section p{
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 10px 0;
}


.team{
  display: flex;
  justify-content: center;
}

.players-profile{
  width: 75%;
  border-right: 1px solid lightgray;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 20px;
  row-gap: 30px;
}
.player-cart{
  width: 25%;
}